<section class=" d-flex flex-column overflow-hidden wrapper">
    <section class="d-flex flex-column flex-grow-1 overflow-hidden">
        <header>
            <!-- heading div starts -->
            <div class="details-heading d-flex">
                <div class="mb-0 links" [ngClass]="{'is-active':commonService.isActive}" (click)="openUserDetails()">User Details</div>
                <div [ngClass]="{'user-job-details':commonService.disableUserJobDetails}">
                    <div class="mb-0 links" [ngClass]="{'is-active':!commonService.isActive,'disabled':commonService.disableUserJobDetails}" (click)="openJobDetails()"  >User Job Details</div>
                </div>
            </div>
                <!-- heading div ends -->
                </header>
                <main class="main-content">
            <router-outlet></router-outlet>
                </main>
    </section>
   
</section>
