<div class="wrapper">
    <h6 class="table-heading">
        Total {{titleService.headerTitle}}
    </h6>
    <div class="table-wrapper">
        <table class="table">
            <thead class="table-head">
            <th class="data-titles">No</th>
            <th class="data-titles">User Name</th>
            <th class="data-titles">User Email</th>
            <th class="data-titles">Phone Number</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of displayList ;let i=index ">
                    <td class="table-data">{{i+1}}</td>
                    <td class="table-data">
                        <!-- <img src="assets/images/listing-img.svg" alt="" class="me-2"> -->
                        {{data.firstName + data.lastName}}</td>
                    <td class="table-data">{{data.email}}</td>
                    <td class="table-data">{{data.phoneNumber}}</td>
                    <td class="table-data">
                    <button type="button" class="details-btn">
                        <img src="assets/images/table-last-column.png" alt="" (click)="openUserDetails(data.userId)">
                    </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
                </table>
    </div>
   
</div>
