<div class="d-flex">
    <header class="header-container">
        <div *ngIf="!titleService.toggleTitle">
            <h2 class="dasboard-heading">{{titleService.headerTitle}}</h2> 
            <p class="dasboard-sub-heading mt-1" *ngIf="titleService.titleDashboard">Welcome, {{loggedUser}}!</p>
        </div>
        <div class="d-flex align-items-center" *ngIf="titleService.toggleTitle">
                <!-- <div class="" >  -->
                    <button class="border-0 back-btn back-arrow" (click)="navigateToList()">
                        <img src="assets/images/Arrow---Left.svg" alt="" >
                    </button>
            <!-- </div> -->
            <div class="ms-2">{{titleService.headerListTitle}} List</div>
        </div>
        <div class="d-flex align-items-center">
            <input type="text" placeholder="Search here..." class="search me-2" (keyup)="getSearchedUser(search.value)" #search>
                <button
                type="button"
                class="border-0 notification-btn"
                placement="auto"
                [ngbPopover]=notifications
            >
            <img src="assets/images/notification-icon.svg" alt="" >
            </button>
        </div>
    <!-- notifications    -->
    <ng-template #notifications>
            <div class="notifications">Lara Patel  <span class="me-1">Report to</span>Carmen Myers</div>
            <div class="notifications">Lara Patel  <span class="me-1">Report to</span>Carmen Myers</div>
            <div class="notifications">Lara Patel  <span class="me-1">Report to</span>Carmen Myers</div>
    </ng-template>
<!-- notifications    -->
</header>
</div>
