<!-- dog-details wrapper starts -->
<section class="dog-details-wrapper">
    <!-- Pet Details and description div starts -->
    <div class="row mt-4">
        <!-- Pet Details -->
        <div class="col-6">
            <h5 class="pet-details-heading"><img src="assets/images/Arrow - Down .svg" alt="Down Arrow"
                    class="me-2 mb-1">Pet’s Details</h5>
            <div class="row">
                <ng-container *ngFor="let data of petDetails | keyvalue">
                    <div class="col-2 detail-title">{{data.key}}</div>
                    <div class="col-10 detail-value">{{data.value}}</div>
                </ng-container>
            </div>
        </div>
        <!-- Pet Details -->
        <!-- Pet Description -->
        <div class="col-6">
            <h5 class="pet-details-heading"><img src="assets/images/Arrow - Down .svg" alt="Down Arrow"
                    class="me-2 mb-1">Pet’s Description</h5>
            <p class="pet-description mt-3">{{petInfo?.PetDescription}}</p>
        </div>
        <!-- Pet Description -->
    </div>
    <!-- Pet Details and description div ends -->
    <!-- Pet's Behaviour div starts -->
    <div class="mb-5 pets-behaviour">
        <h5 class="pet-details-heading "><img src="assets/images/Arrow - Down .svg" alt="Down Arrow"
                class="me-2 mb-1">Pet’s Behaviors</h5>
        <div class="pet-behaviour row ">
            <div class="col-11 mt-1">
                <div class="behaviour-title mt-3 d-flex align-items-center"
                    *ngFor="let data of petBehaviour | keyvalue">{{data.key}}<span class="line ms-3 me-2 "></span></div>
            </div>
            <div class="col-1">
                <div class="behaviour-value mt-3 text-end" *ngFor="let data of petBehaviour | keyvalue">
                    {{ data.value === 0 ? 'No' : (data.value === 1 ? 'Yes' : data.value) }}
                </div>
            </div>
        </div>

    </div>
    <!-- Pet's Behaviour div ends -->
    <!-- Pet's Photos div starts -->
    <div class="mb-5">
        <h5 class="pet-details-heading"><img src="assets/images/Arrow - Down .svg" alt="Down Arrow"
                class="me-2 mb-1">Pet’s Photos</h5>
        <div class="d-flex flex-wrap">
            <div class="mt-4" *ngFor="let img of petInfo?.images">
                <img src="{{img}}" alt="Dog photo" class="me-3 dog-img">
            </div>
        </div>
    </div>
    <!-- Pet's Photos div ends -->
    <!-- Pet's Prompts and Completion div starts -->
    <div class="">
        <h5 class="pet-details-heading"><img src="assets/images/Arrow - Down .svg" alt="Down Arrow"
                class="me-2 mb-1">Pet’s Prompts and Completions</h5>
        <div class="mt-4 d-flex align-items-center flex-wrap">
            <div class="pet-prompts-completion me-3 " *ngFor="let data of petInfo?.PromptDetails">
                <!-- <div *ngFor="let item of data | keyvalue">
                    <h6>{{item.key}}</h6>
                    <p class="mt-2">{{item.value}}</p>
                </div> -->
                <div>
                    <h6>{{data.promptsTitle}}</h6>
                    <p class="mt-2">{{data.PromptAnswer}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Pet's Prompts and Completion div ends -->
</section>
<!-- dog-details wrapper ends -->