<div class="card" (click)="openJobInDetail(walkerJobDetails.jobId)">
    <!-- Date and Ratings -->
    <div class="d-flex  justify-content-between">
        <div class=" date"><i class="fa-solid fa-circle-dot me-2"></i>{{walkerJobDetails.CreatedAt}}</div>
        <div>
            <ngb-rating [rate]="walkerJobDetails.ownerRate" [max]="5" [readonly]="true">
                <ng-template let-fill="fill">
                    <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
                        <i class="fa-solid fa-star"></i>
                    </span>
                </ng-template>
            </ngb-rating>
        </div>
    </div>
    <!-- Date and Ratings -->
    <!-- Decription div -->
    <div class="row description">
        <ng-container *ngFor="let item of updatedWalkerJobDetails | keyvalue ">
            <div class="col-4 mt-3 name">{{ item.key }} :</div>
            <div class="col-8 mt-3 value">{{ item.value }} </div>
        </ng-container>
    </div>
    <!-- Decription div -->
    <!-- Review div -->
    <div class="review mt-4">
        <h5>Review</h5>
        <p class="mb-0">{{walkerJobDetails.ownerReview===null ? '-' : walkerJobDetails.ownerReview }}</p>
    </div>
    <!-- Review div -->
</div>